.OrderForm{
    margin-right: 10%;
    width: 20%;
    height: fit-content;
    border:1px solid black;
    float: right;
    margin-top: -25%;
}
.Order-btn{
    background-color: #777777;
    padding: 10px;
    color: white;
    display: none;
}