.ProductCard{
    display: table;
    border: 1px solid black;
    width: 50%;
    margin-left: 5%;
    margin-top: 10px;
}
.ProductImg{
    float: left;
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-bottom: 10px;
}